NBER_EMAIL_IMAP_HOST=
NBER_EMAIL_IMAP_PORT=
NBER_EMAIL_IMAP_USER=
NBER_EMAIL_IMAP_PASSWORD=
NBER_EMAIL_IMAP_MAILBOX=INBOX
NBER_EMAIL_IMAP_LOOKBACK=100
NBER_SOURCE=auto
KIMI_API_KEY=
KIMI_MODEL=
WECHAT_APP_ID=
WECHAT_APP_SECRET=
WECHAT_AUTHOR=YAPO
WECHAT_DIGEST=
WECHAT_SOURCE_URL=https://fyapeng.com/nber/
WECHAT_OPEN_COMMENT=1
WECHAT_ONLY_FANS_CAN_COMMENT=0
